<div class="navbar-wagon fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand navbar-wagon-link" do %>
    <%= image_tag "logo2.png" %> 
  <% end %>
  <div class="facebook">
    <%= link_to 'https://goo.gl/riQ4i5', class: "navbar-wagon-item navbar-wagon-link", target: '_blank' do %>
      <i class="fab fa-facebook-square fa-2x"> <w>Curta no Facebook</w></i>
    <% end %>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <%= link_to "Artigos", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% link_to "Conteúdo EXCLUSIVO", content_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t(".teste", default: "Novo Post"), new_post_path, class: "navbar-wagon-item navbar-wagon-link" %>
    
    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <%= link_to "Show me the Leads", show_me_the_leads_path, class: "btn btn-danger navbar-wagon-item navbar-wagon-link" %>
      <%= link_to destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", method: :delete do %>
        <%= t(".sign_out", default: "Sair") %>
      <% end %>
    <% else %>
      <!-- Login link (when logged out) -->
    <% end %>
    
  </div>
</div>

