<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-10">
      <div class="card">
        <div class="card-body">
          <p><h1>We have: <%= @leads.all.count %> leads</h1></p>
          <%= link_to 'Download CSV', show_me_the_leads_path(format: :csv), class: "btn btn-success" %>
          <br>
          <br>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th> | </th>
                <th>Last Name</th>
                <td> | </td>
                <th>Email</th>
                <td> | </td>
                <th>Ip</th>
                <td> | </td>
                <th>Time</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @leads.each do |lead| %>
                <tr>
                  <td><%= lead.name %></td>
                  <td> | </td>
                  <td><%= lead.last_name %></td>
                  <td> | </td>
                  <td><%= lead.email %></td>
                  <td> | </td>
                  <td><%= lead.ip %></td>
                  <td> | </td>
                  <td><%= lead.created_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>