<div class="container-fluid leads">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Conteúdo Extra</h2>
          <ul class="card-text">
            <li><%= link_to "Como cadastrar no Simple Nacional", asset_path("INFO_SIMPLESNACIONAL.pdf"), :class => "links", target: '_blank' %></li>
            <li><%= link_to "EBOOK: Guia para emitir Nota Fiscal", asset_path("GUIA_PARA_EMITIR_NOTA_FISCAL_EBOOK.pdf"), :class => "links", target: '_blank' %></li>
            <li><%= link_to "Dê o start em novos hábitos", asset_path("De_o_start_em_novos_habitos.pdf"), :class => "links", target: '_blank' %></li>
            <li><%= link_to "Planilha Gantt", asset_path("Planilha Gantt.xlsx"), :class => "links", target: '_blank' %></li>
            <li><%= link_to "Financiamento Descomplicado", asset_path("financiamento_descomplicado.png"), :class => "links", target: '_blank' %></li>
            <li><%= link_to "Guia Basico De Investimento", asset_path("guia_basico_de_investimento.png"), :class => "links", target: '_blank' %></li>
      			<li><%= link_to "Infográfico: Como se cadastrar no Simples Nacional", asset_path("Infografico_como_se_cadastrar_no_Simples_Nacional.pdf"), :class => "links", target: '_blank' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>