<% content_for :meta_description, "Inspire, transforme e tire suas ideias do papel" %>
<% content_for :meta_title, "Star Experience" %>
<% content_for :meta_image, "xp-logo.png" %>

<div class="container-fluid bg-first">
	<div class="row top">
		<div class="col align-top">
			<%= image_tag "start-xp.png", class: "navbar-wagon-brand xp-logo" %> 
		</div>
		<div class="col d-flex flex-row-reverse align-self-center social">
			<%= link_to 'https://www.facebook.com/blogdeostart/', target: '_blank' do %>
			  <%= image_tag "facebook.png" %> 
			<% end %>
			<%= link_to 'https://www.linkedin.com/company/deostart/', target: "_blank" do %>
			  <%= image_tag "linkedin.png" %>
			<% end %>
		</div>
	</div>
	<div class="col">
		<div class="row sxp content d-flex align-items-center">
		  <div class="title">START EXPERIENCE</div>
		  <div class="body">Inspire, transforme</div>
		  <div class="body">e tire suas ideias do papel</div>
		  <div class="footer">10 de outubro <fy>|</fy> HUB Food Service</div>
		  <%= link_to 'RESERVE SUA VAGA', "https://www.sympla.com.br/start-experience__377584", class: "btn btn-yellow", target: "_blank" %>
		</div>
	</div>
</div>
<div class="container-fluid bg-white">
	<div class="row sxp">
		<div class="col-sm-12 col-md-3">
			<%= image_tag "left-photo.png" %>
		</div>
		<div class="col-sm-12 col-md-9">
			<div class="title bold">
				<p>O QUE É O<br>
				START EXPERIENCE</p>
			</div>	
			<div class="font-grey">
				<p>
					Em modelo de Talks show para pequenos e médios empreendedores, nosso convidados irão contar um pouco de suas experiências de empreendedorismo e relacionamento com cliente.<br>
					Depois teremos um tempo para os participantes realizarem perguntas com todos os participante.<br>
					Ao final abriremos a participação de um happy hour para networking e troca de experiência.
				</p>
			</div>
			<div class="d-flex align-items-end flex-column">
			<%= link_to 'RESERVE SUA VAGA', "https://www.sympla.com.br/start-experience__377584", class: "btn btn-lblue", target: "_blank" %>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid bg-darkblue">
	<div class="row sxp align-items-center flex-column">
		<div class="title bold white"><w>QUEM VAI FALAR?</w></div>		
	</div>
	<div class="row sxp align-items-center flex-column">
		<div class="font-grey"><center>
			Conheça os palestrantes que estarão no Start Experience, dividindo<br>
			conhecimento e inspirações com você.</center>
		</div>
	</div>
	<div class="row sxp guest">
		<div class="col-md-3 col-sm-12 ">
			<center>
				<%= link_to "https://www.linkedin.com/in/cristina-souza-908a6714/?locale=pt_BR" do %>
					<%= image_tag "cristinasouza.png" %>
				<% end %>
				<div class="title bold white">CRISTINA SOUZA</div>
				<div class="font-grey">Empreendedora & Consultora de Marketing</div>
			</center>
		</div>
		<div class="col-md-3 col-sm-12 ">
			<center>
				<%= link_to "https://www.linkedin.com/in/giulia-pedroni-de-andrade-611ab363" do %>
					<%= image_tag "giuliapedroni.png" %>
				<% end %>
				<div class="title bold white">GIULIA PEDRONI</div>
				<div class="font-grey">Especialista em marketing parapequenas empresas</div>
			</center>
		</div>
		<div class="col-md-3 col-sm-12 ">
			<center>
				<%= link_to "https://www.linkedin.com/in/luciana-concei%C3%A7%C3%A3o-8b675950/" do %>
					<%= image_tag "lucianaconceicao.png" %>
				<% end %>
				<div class="title bold white">LUCIANA CONCEIÇÃO</div>
				<div class="font-grey">Brincalhoada</div>
			</center>
		</div>
		<div class="col-md-3 col-sm-12 ">
			<center>
				<%= link_to "https://www.linkedin.com/in/josecarlosojr/" do %>
					<%= image_tag "josecarlos.png" %>
				<% end %>
				<div class="title bold white">JOSÉ CARLOS</div>
				<div class="font-grey">Gerente de Parcerias na Brasil CT</div>
			</center>
		</div>
	</div>
</div>
<div class="container-fluid countdown">
	<div class="row sxp align-items-center flex-column">
		<div class="title bold">AS VAGAS SÃO LIMITADAS</div>
		<div class="font-grey">Garanta sua inscrição!</div>
	</div>

	<div class="row align-items-center flex-row justify-content-around padding-top-b">
		<div class="col-sm-12 col-md-2 time">
		<center>				
			<p id="day" class="numero"></p>
			<p class="letras">DIAS</p>
		</center>
		</div>
		<div class="col-sm-12 col-md-2 time">
			<center>
			<p id="hour" class="numero"></p>
			<p class="letras">HORAS</p>
		</center>
		</div>
		<div class="col-sm-12 col-md-2 time">
			<center>
			<p id="min" class="numero"></p>
			<p class="letras">MINUTOS</p>
		</center>
		</div>
		<div class="col-sm-12 col-md-2 time">
			<center>
			<p id="seg" class="numero"></p>
			<p class="letras">SEGUNDOS</p>
		</center>
		</div>
		
	</div>
	<center>
	<div class="row sxp align-items-center flex-column"></div>
		<%= link_to 'RESERVE SUA VAGA', "https://www.sympla.com.br/start-experience__377584", class: "btn btn-lblue", target: "_blank" %>
	</div>
	</center>
</div>
<div class="container-fluid map">
	<div class="row sxp align-items-center flex-column">
		<div class="title bold"><w>COMO CHEGAR</w></div>
		<div class="local">
			<div class="font-grey">
				<w>HUB Food Service</w><br>
				Rua Apinajés, 1720 - Perdizes<br>
				São Paulo - SP<br>
				(11) 2476-6921
			</div>
		</div>

		<%= link_to 'https://www.google.com/maps/dir//Aimber%C3%AA+1749+-+Rua+Apinaj%C3%A9s,+1720+-+Sumar%C3%A9,+S%C3%A3o+Paulo+-+SP,+01257-000/@-23.5446333,-46.6879743,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x94ce57eb9e2253b1:0x29eeddea2dfd8790!2m2!1d-46.6857856!2d-23.5446333!3e0', class: "btn btn-lblue", target: "_blank" do %>
			<i class="fas fa-route">  Traçar Rota</i>
		<% end %>
	</div>
</div>