
<div class="card bg-grey text-white">
  <%= image_tag "banner-fullhd.png", width: '800px', height: '450px', class: "card-img"  %>
  <div class="align-self-end">
    <div class="fb-like" data-href="https://www.facebook.com/blogdeostart/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
  </div>
  <div class="card-img-overlay">
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row font-grey">
    <div class="col-12">
      <div class="card-columns">
        <% if !user_signed_in? %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Deixe seu contato e faça o download de nosso conteúdo exclusivo!</h5>
              <%= render 'leadform', lead: @lead %>
            </div>
          </div>
        <% end %>
        <% @posts.each do |post| %>
          <%= link_to post do %>
            <div class="card">
              <% if !post.image.nil? %>
                <%= cl_image_tag post.image, height: 180, width: '100%' %>
              <% else %>
                <img class="card-img-top" src="https://picsum.photos/242/120/?random">
              <% end %>
              <div class="card-body">
                <h3 class="card-title"><%= post.title %></h3>
                <p class="card-text"><%= post.description %></p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><%= post.keywords %></small>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.1&appId=270289256447800&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
