<h1><center>Posts</center></h1>
<img class="card-img-top" src="https://picsum.photos/791/180/?random">
<p>Uma descrição bonita sobre esse blog e todas as informações e vantagens que os cadastrados podem ter!</p>
<p>Outras informações pertinentes</p>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card-columns">
        <% @posts.each do |post| %>
          <%= link_to post do %>
            <div class="card">
              <img class="card-img-top" src="https://picsum.photos/242/180/?random">
              <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= post.description %></p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><%= post.keywords %></small>
                <% link_to 'Edit', edit_post_path(post) %>
                <% link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://picsum.photos/242/400/?random">
        </div>
      </div>




    </div>
  </div>





</div>


<%= link_to 'New Post', new_post_path %>
