<div class="container-fluid">
	<div class="card">
	  	<% if !@post.image.nil? %>
	  	  <%= cl_image_tag @post.image, height: 300, width: '100%', class: "card-img-top" %>
	  	<% else %>
	  	  <img class="card-img-top" src="https://picsum.photos/791/180/?random">
	  	<% end %>
	  <div class="card-body">
	    <div class="float-right">
	      <div class="fb-like" data-href="https://www.facebook.com/blogdeostart/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
	    </div>
	    <h3 class="card-title"><%= @post.title %></h3>
	    <p class="card-text"><%= @post.body.html_safe %></p>
	    <p class="card-text"><small class="text-muted"><%= @post.keywords %></small></p>
	  </div>
	  <% if !user_signed_in? %>
	  <div class="card align-self-center" style="width: 20rem;">
	      <div class="card-body">
	        <h5 class="card-title">Deixe seu contato e acesse um conteúdo exclusivo</h5>
	        <%= render 'leadform', lead: @lead %>
	      </div>
	  </div>
	  <% end %>
	  <% if user_signed_in? %>
	    <p class="card-text d-flex justify-content-center"><%= link_to 'Editar', edit_post_path(@post), class: "btn btn-secondary" %></p>
	    <br>
	    <p class="card-text d-flex justify-content-center"><%= link_to 'Apagar', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
	  <% end %>
	  <br><br>
      <p class="card-text d-flex justify-content-center"><%= link_to 'Voltar', posts_path, class: "btn btn-primary" %></p>
	</div>
</div>





<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.1&appId=270289256447800&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
